<h2>Welcom {{username}}</h2>
<div>
    <h4>Create A New Post</h4>
    <form id="generatepost">
        <div class="form-group">
            <label for="exampleInputEmail1">title</label>
            <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <form class="was-validated">
                <div class="mb-3">
                    <label for="validationTextarea">content</label>
                    <textarea class="form-control" id="content"></textarea>
                    <div class="invalid-feedback">
                        Please enter a message in the textarea.
                    </div>
                </div>
        </div>
        <button type="submit" class="btn btn-primary">Add new post</button>
    </form>
</div>
<div>
    <h4>Manage your posts</h4>
    {{#if posts.length}}
    {{#each posts as |post|}}
    <div class="card-body">
        <p class="card-text"><a href="/post/{{post.id}}"></q>{{post.title}}</a></p>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">title</label>
            <textarea class="form-control" id="updatetitle" rows="3">{{post.title}}</textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">content</label>
            <textarea class="form-control" id="updatecontent" rows="3">{{post.content}}</textarea>
        </div>
        <a href="#" class="btn btn-success" id="update" data-id="{{post.id}}">Sumbit Upate</a>
        <a href="#" class="btn btn-danger" id="delete" data-id="{{post.id}}">Delete</a>
    </div>
    {{/each}}
    {{/if}}
</div>

<script src="/js/profile.js"></script>